In [1]:
from datetime import datetime

In [2]:
datetime.now()

datetime.datetime(2023, 7, 21, 8, 26, 18, 353036)

In [5]:
datetime.now().day

21

In [6]:
datetime.now().month

7

In [19]:
now = datetime.now()

In [20]:
now.second

53

In [21]:
now.timestamp()

1689908573.041271

In [23]:
new_year = datetime(2023, 1, 1) # year, month, day

In [24]:
new_year.day

1

In [25]:
new_year.second

0

In [30]:
now = datetime.now()
t = now.strftime("%H:%M:%S:%f")

In [33]:
x = now.strftime('%x')

In [32]:
x

'07/21/23'

In [34]:
x = now.strftime('%X')
x

'08:38:38'

In [35]:
datetime.today()

datetime.datetime(2023, 7, 21, 8, 40, 22, 451827)

In [37]:
from datetime import time

a = time()
a

datetime.time(0, 0)

In [38]:
print(time(10, 30, 50))

10:30:50

In [42]:
today = datetime.today()

new_year = datetime(2024, 1,1)
time_till_new_year = new_year - today

print('Time till new year: ', time_till_new_year)

Time till new year:  163 days, 15:15:50.698061

In [46]:
time_till_new_year

datetime.timedelta(days=163, seconds=54950, microseconds=698061)

In [47]:
datetime(month = 1, year = 2023, day = 17)

datetime.datetime(2023, 1, 17, 0, 0)

In [49]:
from time import sleep

In [50]:
for i in range(10):
    sleep(3)
    today = datetime.today()
    new_year = datetime(2024, 1,1)
    time_till_new_year = new_year - today

    print('Time till new year: ', time_till_new_year)

Time till new year:  163 days, 15:12:50.819684
Time till new year:  163 days, 15:12:47.809813
Time till new year:  163 days, 15:12:44.807637
Time till new year:  163 days, 15:12:41.807595
Time till new year:  163 days, 15:12:38.800382
Time till new year:  163 days, 15:12:35.785582
Time till new year:  163 days, 15:12:32.782392
Time till new year:  163 days, 15:12:29.780818
Time till new year:  163 days, 15:12:26.774122
Time till new year:  163 days, 15:12:23.764287

In [54]:
time = []

for i in range(10):
    sleep(2)
    time_now = datetime.now()
    time.append(time_now)

In [56]:
import pandas as pd

df = pd.DataFrame({"Time":time})

In [68]:
df['Time'][0].strftime('%M:%S')

'52:36'

In [71]:
df['H:M'] = df['Time'].apply(lambda x: x.strftime('%M:%S'))

In [73]:
df['Time'][0].month

7

In [74]:
df['Month'] = df['Time'].apply(lambda x: x.strftime('%m'))

In [75]:
df

                        Time    H:M Month
0 2023-07-21 08:52:36.374553  52:36    07
1 2023-07-21 08:52:38.390799  52:38    07
2 2023-07-21 08:52:40.405879  52:40    07
3 2023-07-21 08:52:42.413020  52:42    07
4 2023-07-21 08:52:44.420681  52:44    07
5 2023-07-21 08:52:46.424724  52:46    07
6 2023-07-21 08:52:48.436297  52:48    07
7 2023-07-21 08:52:50.441312  52:50    07
8 2023-07-21 08:52:52.454973  52:52    07
9 2023-07-21 08:52:54.456310  52:54    07

In [ ]:
pd.read_csv('path', parse_dates=['date_column'])

In [76]:
df['Time'][0]

Timestamp('2023-07-21 08:52:36.374553')