In [1]:
# Data Types

1 # Numeric
'String' # String/Character

'String'

In [78]:
# This is a comment

In [2]:
# Mathematical Operations

1+1 # Addition

2

In [3]:
4-2 # Subtract

2

In [4]:
5*3 # Multiply

15

In [5]:
56/2 # Divide

28.0

In [6]:
3**2 # Raised to the Power

9

In [7]:
9%3 # Modulus -> Gives the remainder of Division as the output

0

In [8]:
# Variable Assignment

a = 10

In [9]:
print(a)

10

In [10]:
name = 'My_name'
print(name)

My_name

In [11]:
'name'*3

'namenamename'

In [12]:
# List

[1,3,4,5,6,7]

[1, 3, 4, 5, 6, 7]

In [13]:
list1 = [1,3,4,5,6,7]

In [14]:
print(list1)

[1, 3, 4, 5, 6, 7]

In [15]:
list1[3]

5

In [16]:
list1[5]

7

In [17]:
list2 = [23,56,78,34,98,100,45,76,88]

In [18]:
list2[3]

34

In [19]:
name = 'Naveen'

In [20]:
print(name[2])

v

In [21]:
list3 = [1,2,3,4,'Five',6]

In [22]:
list3[4][2]

'v'

In [23]:
lst = ['string', 1, 3.0]

In [24]:
lst[2] = 4

In [25]:
lst

['string', 1, 4]

In [26]:
tup = (1,2,3,'string')

In [27]:
tup

(1, 2, 3, 'string')

In [28]:
set1 = {1,2,3,4}

In [29]:
{1,2,2,3}

{1, 2, 3}

In [30]:
'Hello'

'Hello'

In [31]:
"Hiiii"

'Hiiii'

In [32]:
"""Heyyy"""

'Heyyy'

In [33]:
x = "Hello my name is 'Naveen'"

In [34]:
print(x)

Hello my name is 'Naveen'

In [35]:
"""Hello
my 
name
naveen
"""

'Hello\nmy \nname\nnaveen\n'

In [36]:
print('Hello \nNaveen')

Hello
Naveen

In [37]:
x = 'Hello'

In [38]:
x[4] = 'h'

TypeError: 'str' object does not support item assignment

In [ ]:
78//2

In [ ]:
78/2

In [ ]:
39.0

In [ ]:
int(39.0)

In [ ]:
float(39)

In [ ]:
x = 39

In [ ]:
float(x)

In [ ]:
str(x)

In [ ]:
y = int(39.8)

In [ ]:
type(y)

In [ ]:
x = 1j

In [ ]:
type(x)

In [ ]:
lst

In [ ]:
type(lst)

In [ ]:
True

In [ ]:
x = 7>6

In [ ]:
type(x)

In [ ]:
6>7

In [ ]:
type(None)

In [ ]:
list1 = [1,2,3,4,5,6]

In [ ]:
list1[1] = 7

In [ ]:
list1

In [ ]:
tup1 = (1,2,3,4,5,6)

In [ ]:
tup1[1] = 7

In [ ]:
set1 = {1,2,3,4}

In [ ]:
set2 = {1,2,2,3,4}

In [ ]:
set2[1]

In [ ]:
x = '4'

In [ ]:
type(x)

In [ ]:
type()

### Comparison Operators

In [ ]:
> < == != <= >=

In [ ]:
4>3

In [ ]:
x = 3

In [ ]:
4 == 3

In [ ]:
4 != 3.0

In [ ]:
'hi' > 'hello'

In [ ]:
'hello' > 'hi'

In [ ]:
4 >= 4

In [ ]:
5 >= 4

In [ ]:
4 <= 4

In [ ]:
3<4

### Logical Operators

In [ ]:
and or

In [ ]:
True and True

In [ ]:
True and False

In [ ]:
(6>7) and (8<9)

In [ ]:
(6<7) and (8<9)

In [ ]:
type((6>7) or (8<9))

### Dictionaries

In [ ]:
dict1 = {'Name':'Naveen','Languages':['English','Kannada', 'Tamil', 'Telugu'],
         'Marks':[1,2,3,4,5]}

In [ ]:
dict1

In [ ]:
dict1['Name']

In [ ]:
dict1['Languages']

In [ ]:
dict1['Languages'][1]

In [ ]:
x = (23,45,64, 25)

In [ ]:
x[2]

In [ ]:
class_04 = {'Students':[['a','b','c','d'],['ahgd']], 
            'Subjects':['Science', 'Social', 'Math'], 
            'games':['Cricket'],
            'marks':[95,67,78,89]
           }

In [ ]:
print(class_04['Students'][0][3])

In [ ]:
class_04

In [6]:
dict1 = {'Key1':[1,2,3,4,5], 'Name': ['a','b','c','d','e']}

In [7]:
dict1

{'Key1': [1, 2, 3, 4, 5], 'Name': ['a', 'b', 'c', 'd', 'e']}

In [8]:
dict1['Name'][3]

'd'

In [9]:
a = int('12')

In [10]:
a

12

In [11]:
float('12')

12.0

In [12]:
dict2 = dict(name = 'Naveen', age = 22, country = 'India')

In [13]:
dict2

{'name': 'Naveen', 'age': 22, 'country': 'India'}

In [14]:
dict2['age']

22

In [15]:
print(dict1)

{'Key1': [1, 2, 3, 4, 5], 'Name': ['a', 'b', 'c', 'd', 'e']}

In [16]:
'name'.upper().lower()

'name'

In [17]:
dict1.get('Key1')

[1, 2, 3, 4, 5]

In [18]:
dict1['Key1']

[1, 2, 3, 4, 5]

In [19]:
dict1

{'Key1': [1, 2, 3, 4, 5], 'Name': ['a', 'b', 'c', 'd', 'e']}

In [20]:
dict1.keys()

dict_keys(['Key1', 'Name'])

In [21]:
dict1.values()

dict_values([[1, 2, 3, 4, 5], ['a', 'b', 'c', 'd', 'e']])

In [22]:
dict1.items()

dict_items([('Key1', [1, 2, 3, 4, 5]), ('Name', ['a', 'b', 'c', 'd', 'e'])])

In [23]:
dict1

{'Key1': [1, 2, 3, 4, 5], 'Name': ['a', 'b', 'c', 'd', 'e']}

In [24]:
dict1['subject'] = ['Eng', 'Tam', 'Kan', 'Hin', 'Tel']

In [25]:
dict1

{'Key1': [1, 2, 3, 4, 5],
 'Name': ['a', 'b', 'c', 'd', 'e'],
 'subject': ['Eng', 'Tam', 'Kan', 'Hin', 'Tel']}

In [26]:
dict1

{'Key1': [1, 2, 3, 4, 5],
 'Name': ['a', 'b', 'c', 'd', 'e'],
 'subject': ['Eng', 'Tam', 'Kan', 'Hin', 'Tel']}

In [27]:
dict1['Languages'] = dict1['subject']

In [28]:
dict1

{'Key1': [1, 2, 3, 4, 5],
 'Name': ['a', 'b', 'c', 'd', 'e'],
 'subject': ['Eng', 'Tam', 'Kan', 'Hin', 'Tel'],
 'Languages': ['Eng', 'Tam', 'Kan', 'Hin', 'Tel']}

In [29]:
dict1.pop('subject')

['Eng', 'Tam', 'Kan', 'Hin', 'Tel']

In [30]:
dict1.keys()

dict_keys(['Key1', 'Name', 'Languages'])

In [31]:
dict1['key2'] = [1,2,3,4,5,6,7,8,9,0]

In [32]:
dict1['Key1']

[1, 2, 3, 4, 5]

In [33]:
dict1['key2'] = dict1['Key1']

In [34]:
dict1

{'Key1': [1, 2, 3, 4, 5],
 'Name': ['a', 'b', 'c', 'd', 'e'],
 'Languages': ['Eng', 'Tam', 'Kan', 'Hin', 'Tel'],
 'key2': [1, 2, 3, 4, 5]}

In [35]:
dict1.pop('key2')

[1, 2, 3, 4, 5]

In [36]:
dict1

{'Key1': [1, 2, 3, 4, 5],
 'Name': ['a', 'b', 'c', 'd', 'e'],
 'Languages': ['Eng', 'Tam', 'Kan', 'Hin', 'Tel']}

In [37]:
dict1['Name']

['a', 'b', 'c', 'd', 'e']

In [38]:
dict1.update({'Name':['John', 'reeta', 'Manoj', 'Naveen', 'Grace']})

In [39]:
dict1

{'Key1': [1, 2, 3, 4, 5],
 'Name': ['John', 'reeta', 'Manoj', 'Naveen', 'Grace'],
 'Languages': ['Eng', 'Tam', 'Kan', 'Hin', 'Tel']}

In [40]:
dict1

{'Key1': [1, 2, 3, 4, 5],
 'Name': ['John', 'reeta', 'Manoj', 'Naveen', 'Grace'],
 'Languages': ['Eng', 'Tam', 'Kan', 'Hin', 'Tel']}

In [59]:
dict1 = {'Key1': [1, 2, 3, 4, 5], 
         'Name': ['John', 'reeta', 'Manoj', 'Naveen', 'Grace'],
         'Languages': ['Eng', 'Tam', 'Kan', 'Hin', 'Tel']}

In [53]:
dict1.pop('Key1')

[1, 2, 3, 4, 5]

In [56]:
del dict1['Key1']

In [57]:
del dict1

In [60]:
dict1

{'Key1': [1, 2, 3, 4, 5],
 'Name': ['John', 'reeta', 'Manoj', 'Naveen', 'Grace'],
 'Languages': ['Eng', 'Tam', 'Kan', 'Hin', 'Tel']}

In [68]:
30>20 or 20>40

True

In [ ]:
myfamily = {
  "child1" : {
    "name" : "Emil",
    "year" : 2004
  },
  "child2" : {
    "name" : "Tobias",
    "year" : 2007
  },
  "child3" : {
    "name" : "Linus",
    "year" : 2011
  }
}


child1 = {
  "name" : "Emil",
  "year" : 2004
}
child2 = {
  "name" : "Tobias",
  "year" : 2007
}
child3 = {
  "name" : "Linus",
  "year" : 2011
}

myfamily = {
  "child1" : child1,
  "child2" : child2,
  "child3" : child3
}

print(myfamily["child2"]["name"])

In [69]:
my_family = {
  "child1" : {
    "name" : "Emil",
    "year" : 2004
  },
  "child2" : {
    "name" : "Tobias",
    "year" : 2007
  },
  "child3" : {
    "name" : "Linus",
    "year" : 2011
  }
}

In [73]:
print(my_family['child1']['name'])

Emil

In [74]:
list1 = [1,2,3,4,5]

In [75]:
list1[1]

2

In [77]:
list1[1:4]

[2, 3, 4]

# Program Flow

## Conditional Statements

In [1]:
# IF, elif and else

if 1>2:
    print('Yes')

Yes

In [3]:
if 1>2:
    print('Yes')
else:
    print('No')

No

In [5]:
if 1>2:
    print('Yes1')
elif 3>2:
    print('Yes2')

Yes2

In [6]:
if 3>2:
    print('Yes1')
elif 4>2:
    print('Yes2')

Yes1

In [8]:
if 12<10:
    print('Yes1')
elif 6<12:
    print('Yes2')
elif 10>5:
    print('Yes3')

Yes2

In [9]:
if 12<10:
    print('Yes1')
elif 20<12:
    print('Yes2')
elif 10<5:
    print('Yes3')
else:
    print('No')

No

In [10]:
list1 = [1,2,3,4,5]

In [14]:
5 in list1

True

In [13]:
6 in list1

False

In [15]:
list1

[1, 2, 3, 4, 5]

In [16]:
for element in list1:
    print(element)

1
2
3
4
5

In [26]:
list(range(1,11,3))

[1, 4, 7, 10]

In [28]:
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [31]:
list(range(5,11))

[5, 6, 7, 8, 9, 10]

In [32]:
list(range(5,11))[1:4]

[6, 7, 8]

In [33]:
for num in range(0,11):
    print(num)

0
1
2
3
4
5
6
7
8
9
10

In [34]:
for num in range(0,11):
    print('The number is:',num)

The number is: 0
The number is: 1
The number is: 2
The number is: 3
The number is: 4
The number is: 5
The number is: 6
The number is: 7
The number is: 8
The number is: 9
The number is: 10

In [1]:
i = 0

In [2]:
while i < 10:
    print(i)
    i += 1

0
1
2
3
4
5
6
7
8
9

In [3]:
print('Hello')

Hello

In [5]:
range(0,11)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [7]:
def function_name(x,y,z):
    print(x+y+z)

In [8]:
function_name(1,2,3)

6

In [22]:
def add(x,y,z):
    return (x+y+z)

In [23]:
add(124356,56575,796769)

977700

In [24]:
print(a)

977700

In [18]:
list1 = [1,2,3,4]

In [20]:
print(list1[0]) + print(list1[0])

1
1

TypeError: unsupported operand type(s) for +: 'NoneType' and 'NoneType'

In [21]:
list1[0] + list1[0]

2

In [25]:
def multiply(x):
    return x*2

In [28]:
multiply(7)

14

In [27]:
multiply(multiply(7))

28

In [29]:
def op(a, b, c = 10):
    z = (a + b) - c
    return z

In [30]:
op(20,10,5)

25

In [32]:
op(30,40)

60

In [33]:
def op1(a, b, c = 10):
    z = (a + b) - c
    return z**2

In [34]:
op1(20,30)

1600

In [35]:
def func(one, two, three, four):
    answer = ((one/four)+(two*three)) - one
    return answer

In [38]:
func(16, 2, 8, 4)

4.0

In [39]:
func(2,4,8,16)

30.125

In [40]:
func(one = 16, two = 2, three = 8, four = 4)

4.0

In [41]:
func(two = 2, three = 8, one = 16, four = 4)

4.0

In [45]:
def func(one, two, three, four):
    a = (one/four)
    b = (two*three)
    c = one
    answer = (a+b)-c
    return answer

In [46]:
func(two = 2, three = 8, one = 16, four = 4)

4.0

In [51]:
def name(x):
    if x == 'John':
        print('Yes, its John')
    else:
        print('Not John')

In [52]:
name('Sam')

Not John

In [53]:
name('John')

Yes, its John

In [59]:
def add_one(a,b):
    x = []
    for i in range(a,b):
        x.append(i)
    return x

In [60]:
add_one(1,11)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [61]:
def add_one(start,stop):
    x = []
    for i in range(start,stop):
        x.append(i)
    return x

In [62]:
add_one(stop=15, start = 5)

[5, 6, 7, 8, 9, 10, 11, 12, 13, 14]

In [57]:
list1.append(8)

In [58]:
list1

[1, 2, 3, 4, 5, 6, 7, 8]